
#startQuiz {
    background-color: #f1f1f1;
    /* display on right corner */
    padding: 20px;
    border: 1px solid #000000;
    color: #000000;
    margin-top: 20px;
}

.start {
    background-color: #050505;
    padding: 20px;
    border: 1px solid #000000;
    color: #000000;
    margin-top: 20px;
}

main h1 {
    color: #b80e0e;
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 0.5em;
    text-align: center;
}